force-app/main/default/flows/CheckCampaignTargetAudience.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>RegistroPublicoNome</name>
        <label>Registro Publico Alvo Contem Nome Campanha?</label>
        <locationX>750</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>PreencherValidaErroAtivacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimTemNome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ArmazenaNomeCampanha</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Fluxo para verificar se a campanha possui Público Alvo</description>
    <interviewLabel>Check CampaignTargetAudience {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check CampaignTargetAudience</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Verifica Registros de Publico alvo se contem nome da Campanha</description>
        <name>VerificarPublicoAlvo</name>
        <label>Verificar Publico Alvo</label>
        <locationX>758</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RegistroPublicoNome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CampaignTargetAudience__c</object>
        <outputAssignments>
            <assignToReference>ArmazenaNomeCampanha</assignToReference>
            <field>Campaign__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>PreencherValidaErroAtivacao</name>
        <label>Preencher ValidaErroAtivacao</label>
        <locationX>546</locationX>
        <locationY>322</locationY>
        <inputAssignments>
            <field>ValidaErroAtivacao__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>39</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>VerificarPublicoAlvo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ArmazenaNomeCampanha</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerificaPublicoAlvo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
