force-app/main/default/flows/Clonagem_de_campanha.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Abrir_Registro</name>
        <label>Abrir Registro</label>
        <locationX>176</locationX>
        <locationY>3458</locationY>
        <actionName>c:openRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Obter_campanha.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AdicionaLista</name>
        <label>AdicionaLista</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>listaDeProdutos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>produtoAtual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cada_produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AdicionaListaAudience</name>
        <label>AdicionaLista</label>
        <locationX>264</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>listaPublico</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>publicoAtual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cada_publico</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AdicionaListaRule</name>
        <label>AdicionaLista</label>
        <locationX>616</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>listaRegras</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>regraAtual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RegrasDaCampanha</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_campos_publico</name>
        <label>Atribuir campos publico</label>
        <locationX>264</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>publicoAtual.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_campanha.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>publicoAtual.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>publicoAtual.SalesTeam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_publico.SalesTeam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>publicoAtual.SalesOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_publico.SalesOffice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>publicoAtual.SalesOrg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_publico.SalesOrg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>publicoAtual.Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_publico.Rating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>publicoAtual.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_publico.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>publicoAtual.Crop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_publico.Crop__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>publicoAtual.Cluster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_publico.Cluster__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>publicoAtual.CustomerGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_publico.CustomerGroup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AdicionaListaAudience</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_id_campanha</name>
        <label>Atribuir id e Limpar Campos</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>produtoAtual.UsedQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>produtoAtual.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>produtoAtual.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_campanha.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>produtoAtual.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>produtoAtual.ExternalIdIndex__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>produtoAtual.MaxQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_produto.MaxQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>produtoAtual.CanActivateRules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_produto.CanActivateRules__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>produtoAtual.CanReceiveDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_produto.CanReceiveDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>produtoAtual.Product2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_produto.Product2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>produtoAtual.ComercialName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_produto.ComercialName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>produtoAtual.Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_produto.Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>produtoAtual.Manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cada_produto.Manufacturer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AdicionaLista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FillFields</name>
        <label>Limpa Ids e Preenche Campos</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Obter_campanha.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obter_campanha.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campanhaRenomeada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obter_campanha.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obter_campanha.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obter_campanha.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clonar_campanha</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LimpaIdPreencheRegra</name>
        <label>Limpa Id  Preenche Campos</label>
        <locationX>616</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>regraAtual.CampaignTargetRule__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_campanha.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegrasDaCampanha.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.FixedUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegrasDaCampanha.FixedUnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.MaximumOrderValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegrasDaCampanha.MaximumOrderValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.MaximumQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegrasDaCampanha.MaximumQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.MinimumOrderValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegrasDaCampanha.MinimumOrderValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.MinimumQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegrasDaCampanha.MinimumQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.OrderDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegrasDaCampanha.OrderDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.PaymentCondition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegrasDaCampanha.PaymentCondition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.PaymentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegrasDaCampanha.PaymentDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.ProductPercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegrasDaCampanha.ProductPercent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegrasDaCampanha.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>regraAtual.UnitMeasurement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegrasDaCampanha.UnitMeasurement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProdutosDaCampanhaRegra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Preenche_Produto_da_Campanha</name>
        <label>Preenche Produto da Campanha</label>
        <locationX>704</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>regraAtual.CampaignProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProdutosDaCampanhaRegra.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RegrasDaCampanha</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>VerificaProdutoCampanha</name>
        <label>Verifica se é este o Produto da Campanha</label>
        <locationX>836</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>ProdutosDaCampanhaRegra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não é este Produto</defaultConnectorLabel>
        <rules>
            <name>AcheiProduto</name>
            <conditionLogic>(1 AND 5) OR (2 AND 6) OR (3 AND 7) OR (4 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>RegrasDaCampanha.CampaignProduct__r.Product2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProdutosDaCampanhaRegra.Product2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegrasDaCampanha.CampaignProduct__r.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProdutosDaCampanhaRegra.Family__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegrasDaCampanha.CampaignProduct__r.Manufacturer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProdutosDaCampanhaRegra.Manufacturer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegrasDaCampanha.CampaignProduct__r.ComercialName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProdutosDaCampanhaRegra.ComercialName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegrasDaCampanha.CampaignProduct__r.Product2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegrasDaCampanha.CampaignProduct__r.Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegrasDaCampanha.CampaignProduct__r.Manufacturer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegrasDaCampanha.CampaignProduct__r.ComercialName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preenche_Produto_da_Campanha</targetReference>
            </connector>
            <label>Achei Produto</label>
        </rules>
    </decisions>
    <interviewLabel>Clonagem de campanha {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clonagem de campanha</label>
    <loops>
        <name>Cada_produto</name>
        <label>Cada produto</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>Obter_produtos_da_campanha</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribuir_id_campanha</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clonar_produtos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Cada_publico</name>
        <label>Cada publico</label>
        <locationX>176</locationX>
        <locationY>1454</locationY>
        <collectionReference>Obter_publicos_alvo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribuir_campos_publico</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clonar_publicos_alvo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ProdutosDaCampanhaRegra</name>
        <label>Produtos Da Campanha</label>
        <locationX>616</locationX>
        <locationY>2510</locationY>
        <collectionReference>Obter_Produtos_Criados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VerificaProdutoCampanha</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AdicionaListaRule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RegrasDaCampanha</name>
        <label>RegrasDaCampanha</label>
        <locationX>176</locationX>
        <locationY>2270</locationY>
        <collectionReference>Obter_regras</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LimpaIdPreencheRegra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CampaignRules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CampaignRules</name>
        <label>Cria Regras da Campanha</label>
        <locationX>176</locationX>
        <locationY>3338</locationY>
        <connector>
            <targetReference>Abrir_Registro</targetReference>
        </connector>
        <inputReference>listaRegras</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Clonar_campanha</name>
        <label>Clonar campanha</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Obter_produtos_da_campanha</targetReference>
        </connector>
        <inputReference>Obter_campanha</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Clonar_produtos</name>
        <label>Clonar produtos</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Obter_publicos_alvo</targetReference>
        </connector>
        <inputReference>listaDeProdutos</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Clonar_publicos_alvo</name>
        <label>Clonar publicos alvo</label>
        <locationX>176</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Obter_regras</targetReference>
        </connector>
        <inputReference>listaPublico</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obter_campanha</name>
        <label>Obter campanha</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cloneCampaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Produtos_Criados</name>
        <label>Obter Produtos Criados</label>
        <locationX>176</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RegrasDaCampanha</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_campanha.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_produtos_da_campanha</name>
        <label>Obter produtos da campanha</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cada_produto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_publicos_alvo</name>
        <label>Obter publicos alvo</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cada_publico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignTargetAudience__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_regras</name>
        <label>Obter regras</label>
        <locationX>176</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Produtos_Criados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>cloneCampaign</name>
        <label>Clonar campanha</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FillFields</targetReference>
        </connector>
        <fields>
            <name>infoNovaCampanha</name>
            <fieldText>&lt;p&gt;Defina o nome da campanha e sua data de vigência&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>campanhaRenomeada</name>
            <dataType>String</dataType>
            <fieldText>Nome da campanha</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>startDate</name>
            <dataType>Date</dataType>
            <fieldText>Data de início</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Data de início não pode ser menor que hoje&lt;/p&gt;</errorMessage>
                <formulaExpression>{!$Flow.CurrentDate} &lt; {!startDate+1}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>endDate</name>
            <dataType>Date</dataType>
            <fieldText>Data de término</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_campanha</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cadaRegraAtualizar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignRule__c</objectType>
    </variables>
    <variables>
        <name>listaDeProdutos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignProduct__c</objectType>
    </variables>
    <variables>
        <name>listaNovasRegras</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignRule__c</objectType>
    </variables>
    <variables>
        <name>listaPublico</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignTargetAudience__c</objectType>
    </variables>
    <variables>
        <name>listaRegras</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignRule__c</objectType>
    </variables>
    <variables>
        <name>novaCampanhaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>produtoAtual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignProduct__c</objectType>
    </variables>
    <variables>
        <name>publicoAtual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignTargetAudience__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>regraAtual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignRule__c</objectType>
    </variables>
</Flow>
