force-app/main/default/flows/ClonagemVisita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>TemUsuarioRelacionado</name>
        <label>Tem Usuário relacionado?</label>
        <locationX>409</locationX>
        <locationY>138</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clonar_Visita</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Fluxo para Clonagem de Visita quando um Usuário Adicional é inserido</description>
    <interviewLabel>Clonagem de Visita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clonagem de Visita</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Clonar_Visita</name>
        <label>Clonar Visita</label>
        <locationX>823</locationX>
        <locationY>11</locationY>
        <assignRecordIdToReference>IdRegistroClonado</assignRecordIdToReference>
        <connector>
            <targetReference>ObterEventoFilho</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>$Record.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckinDate__c</field>
            <value>
                <elementReference>$Record.CheckinDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkin__Latitude__s</field>
            <value>
                <elementReference>$Record.Checkin__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkin__Longitude__s</field>
            <value>
                <elementReference>$Record.Checkin__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <elementReference>$Record.DurationInMinutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType__c</field>
            <value>
                <elementReference>$Record.EventType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAllDayEvent</field>
            <value>
                <elementReference>$Record.IsAllDayEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence</field>
            <value>
                <elementReference>$Record.IsRecurrence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence2</field>
            <value>
                <elementReference>$Record.IsRecurrence2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence2Exception</field>
            <value>
                <elementReference>$Record.IsRecurrence2Exception</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence2Exclusion</field>
            <value>
                <elementReference>$Record.IsRecurrence2Exclusion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.RelatedUser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurrence2PatternStartDate</field>
            <value>
                <elementReference>$Record.Recurrence2PatternStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurrence2PatternText</field>
            <value>
                <elementReference>$Record.Recurrence2PatternText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurrence2PatternVersion</field>
            <value>
                <elementReference>$Record.Recurrence2PatternVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceDayOfMonth</field>
            <value>
                <elementReference>$Record.RecurrenceDayOfMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceDayOfWeekMask</field>
            <value>
                <elementReference>$Record.RecurrenceDayOfWeekMask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceEndDateOnly</field>
            <value>
                <elementReference>$Record.RecurrenceEndDateOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceInstance</field>
            <value>
                <elementReference>$Record.RecurrenceInstance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceInterval</field>
            <value>
                <elementReference>$Record.RecurrenceInterval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceMonthOfYear</field>
            <value>
                <elementReference>$Record.RecurrenceMonthOfYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceStartDateTime</field>
            <value>
                <elementReference>$Record.RecurrenceStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceType</field>
            <value>
                <elementReference>$Record.RecurrenceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShowAs</field>
            <value>
                <elementReference>$Record.ShowAs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>CriarEventoRelacionado</name>
        <label>Criar Evento Relacionado</label>
        <locationX>190</locationX>
        <locationY>338</locationY>
        <assignRecordIdToReference>IdEventoRelacionadoPai</assignRecordIdToReference>
        <connector>
            <targetReference>AtualizarEventoEspelho</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>EventRelated__c</object>
    </recordCreates>
    <recordLookups>
        <name>ObterEventoFilho</name>
        <label>Obter Evento Relacionado Filho</label>
        <locationX>834</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtualizarEventoPai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRegistroClonado</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>IdEventoRelacionadoFilho</assignToReference>
            <field>EventRelated__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarEventoEspelho</name>
        <label>Atualizar ID Evento Espelho</label>
        <locationX>416</locationX>
        <locationY>338</locationY>
        <connector>
            <targetReference>TemUsuarioRelacionado</targetReference>
        </connector>
        <inputAssignments>
            <field>EventRelated__c</field>
            <value>
                <elementReference>IdEventoRelacionadoPai</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarEventoPai</name>
        <label>Atualizar Evento Relacionado do Pai</label>
        <locationX>836</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>AtualizarEventoRelacionadoFilho</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdEventoRelacionadoPai</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChildEvent__c</field>
            <value>
                <elementReference>IdEventoRelacionadoFilho</elementReference>
            </value>
        </inputAssignments>
        <object>EventRelated__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarEventoRelacionadoFilho</name>
        <label>Atualizar Evento Relacionado Filho</label>
        <locationX>607</locationX>
        <locationY>293</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdEventoRelacionadoFilho</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentEvent__c</field>
            <value>
                <elementReference>IdEventoRelacionadoPai</elementReference>
            </value>
        </inputAssignments>
        <object>EventRelated__c</object>
    </recordUpdates>
    <start>
        <locationX>64</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CriarEventoRelacionado</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>EventoClonado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>IdEventoRelacionadoFilho</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdEventoRelacionadoPai</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdRegistroClonado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelated__c</objectType>
    </variables>
</Flow>
