force-app/main/default/flows/CreatePDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GeneratePDF</name>
        <label>GeneratePDF</label>
        <locationX>456</locationX>
        <locationY>226</locationY>
        <actionName>CreateDocumentLink</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GearPDF.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>CreatePDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreatePDF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GearPDF</name>
        <label>GearPDF</label>
        <locationX>176</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GeneratePDF</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GearPDF</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GerarPDFvariavel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
