force-app/main/default/flows/CustomOrderClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_New_Order</name>
        <label>Set New Order</label>
        <locationX>522</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>OrderTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Itens</name>
        <label>Set Order Itens</label>
        <locationX>618</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>OrderItemTemp.RefuseReason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemTemp.Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemTemp.ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UniqueOrderItemExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemTemp.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderTemp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemTemp.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_OrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_status</name>
        <label>Set Order status</label>
        <locationX>202</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>OrderTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.ExternalId__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.ExternalIdApp__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.StatusSF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em digitação</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.StatusSAP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.DiscountApprover__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.DiscountApprover2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.DiscountApprover3__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.DiscountApprover4__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.Approved1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.Approved2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.Approved3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.Approved4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.OrderNumber</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>InsertOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderItemTemp</name>
        <label>Set OrderItemTemp</label>
        <locationX>496</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>OrderItemTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_OrderItens</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Order_Itens</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ShippingDivision</name>
        <label>Set ShippingDivision</label>
        <locationX>1187</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>ShippingDivisionTemp.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingDivisionTemp.RefuseReason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingDivisionTemp.ConfirmedQuantity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingDivisionTemp.OrderItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderItemTemp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingDivisionTemp.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_ShippingDivision.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingDivisionTemp.DeliveryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_ShippingDivision.DeliveryDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Shipping_Division</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>UniqueOrderItemExternalId</name>
        <dataType>String</dataType>
        <expression>{!$Flow.InterviewGuid} &amp; &apos;_&apos; &amp; TEXT({!OrderItemCounter})</expression>
    </formulas>
    <interviewLabel>Clonar pedido {!$Flow.CurrentDateTime}</interviewLabel>
    <label>custom_order_clone</label>
    <loops>
        <name>Iterate_OrderItens</name>
        <label>Iterate OrderItens</label>
        <locationX>361</locationX>
        <locationY>570</locationY>
        <collectionReference>Get_OrderItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OrderItemTemp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pedido_clonado_com_sucesso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_ShippingDivision</name>
        <label>Iterate ShippingDivision</label>
        <locationX>1012</locationX>
        <locationY>561</locationY>
        <collectionReference>Get_ShippingDivisions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_ShippingDivision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_OrderItens</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_OrderItem</name>
        <label>Insert OrderItem</label>
        <locationX>741</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Get_ShippingDivisions</targetReference>
        </connector>
        <inputReference>OrderItemTemp</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Shipping_Division</name>
        <label>Insert Shipping Division</label>
        <locationX>1012</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Iterate_ShippingDivision</targetReference>
        </connector>
        <inputReference>ShippingDivisionTemp</inputReference>
    </recordCreates>
    <recordCreates>
        <name>InsertOrder</name>
        <label>InsertOrder</label>
        <locationX>202</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Get_New_Order</targetReference>
        </connector>
        <inputReference>OrderTemp</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Order</name>
        <label>Get New Order</label>
        <locationX>368</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderTemp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderItem</name>
        <label>Get OrderItem</label>
        <locationX>366</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_OrderItens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ShippingDivisions</name>
        <label>Get ShippingDivisions</label>
        <locationX>901</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_ShippingDivision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_OrderItens.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ShippingDivision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrder</name>
        <label>GetOrder</label>
        <locationX>658</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Pedido_clonado_com_sucesso</name>
        <label>Pedido clonado com sucesso</label>
        <locationX>157</locationX>
        <locationY>567</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OrderNumberMessage</name>
            <fieldText>&lt;p&gt;Um novo pedido foi criado com o seguinte número :&lt;b&gt; {!OrderTemp.OrderNumber}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>532</locationX>
        <locationY>119</locationY>
        <connector>
            <targetReference>GetOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderItemCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderItemTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingDivisionTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShippingDivision__c</objectType>
    </variables>
</Flow>
