force-app/main/default/flows/DeleteCampaignTargetAudience.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>ContemPublicoAlvo</name>
        <label>Contem Publico Alvo?</label>
        <locationX>841</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>PreencherValidaErroAtivacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SIm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterPublicoCampanha.Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Campaign__c</elementReference>
                </rightValue>
            </conditions>
            <label>SIm</label>
        </rules>
    </decisions>
    <description>Fluxo acionando se um registro de público alvo for deletado, deve verificar se a campanha contem outro publico alvo e caso seja false preencher o campo ValidaErroAtivacao na campanha como TRUE</description>
    <interviewLabel>Delete CampaignTargetAudience {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete CampaignTargetAudience</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ObterPublicoCampanha</name>
        <label>Obter Publico Alvo da Campanha</label>
        <locationX>587</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContemPublicoAlvo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignTargetAudience__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>PreencherValidaErroAtivacao</name>
        <label>Preencher ValidaErroAtivacao</label>
        <locationX>852</locationX>
        <locationY>357</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ValidaErroAtivacao__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <start>
        <locationX>41</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>ObterPublicoCampanha</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignIsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CampaignTargetAudience__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IDCampanha</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObterIDCampanha</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
