force-app/main/default/flows/EdicaoUsuarioAdicional.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>TemUsuarioRelacionado</name>
        <label>Tem Usuário relacionado?</label>
        <locationX>455</locationX>
        <locationY>89</locationY>
        <defaultConnector>
            <targetReference>VerificaUsuarioAntigo_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificaUsuarioAntigo</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarMudancaUsuario</name>
        <label>Verificar Mudança de Usuário</label>
        <locationX>738</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Mudou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedUser__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RelatedUser__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterEventoRelacionadoPai</targetReference>
            </connector>
            <label>Mudou!</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaUsuarioAntigo</name>
        <label>Verifica Usuário Antigo</label>
        <locationX>728</locationX>
        <locationY>88</locationY>
        <defaultConnector>
            <targetReference>VerificarMudancaUsuario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não era Nulo</defaultConnectorLabel>
        <rules>
            <name>EraNulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.RelatedUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clonar_Visita</targetReference>
            </connector>
            <label>Era Nulo!</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaUsuarioAntigo_0</name>
        <label>Verifica Usuário Antigo</label>
        <locationX>460</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>ObterEventoRelacionadoPai_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não era Nulo</defaultConnectorLabel>
        <rules>
            <name>EraNulo_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.RelatedUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Era Nulo!</label>
        </rules>
    </decisions>
    <description>Fluxo para exclusão e criação de Registros quando um Usuário Adicional é alterado.</description>
    <interviewLabel>Edição Usuário Adicional {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edição Usuário Adicional</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Clonar_Visita</name>
        <label>Clonar Visita</label>
        <locationX>1154</locationX>
        <locationY>93</locationY>
        <assignRecordIdToReference>IdRegistroClonado</assignRecordIdToReference>
        <connector>
            <targetReference>ObterEventoFilho</targetReference>
        </connector>
        <inputAssignments>
            <field>CheckinDate__c</field>
            <value>
                <elementReference>$Record.CheckinDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkin__Latitude__s</field>
            <value>
                <elementReference>$Record.Checkin__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkin__Longitude__s</field>
            <value>
                <elementReference>$Record.Checkin__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <elementReference>$Record.DurationInMinutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType__c</field>
            <value>
                <elementReference>$Record.EventType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence2</field>
            <value>
                <elementReference>$Record.IsRecurrence2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.RelatedUser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisitOpinion__c</field>
            <value>
                <elementReference>$Record.VisitOpinion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordDeletes>
        <name>ExclusaoCompromissoEventoFilho</name>
        <label>Exclusão Compromisso Evento Filho</label>
        <locationX>891</locationX>
        <locationY>750</locationY>
        <connector>
            <targetReference>Clonar_Visita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventRelated__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterEventoRelacionadoPai.ChildEvent__c</elementReference>
            </value>
        </filters>
        <object>Event</object>
    </recordDeletes>
    <recordDeletes>
        <name>ExclusaoCompromissoEventoFilho_0</name>
        <label>Exclusão Compromisso Evento Filho</label>
        <locationX>470</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventRelated__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterEventoRelacionadoPai_0.ChildEvent__c</elementReference>
            </value>
        </filters>
        <object>Event</object>
    </recordDeletes>
    <recordLookups>
        <name>EventoRelacionadoPai</name>
        <label>Evento Relacionado Pai</label>
        <locationX>1229</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtualizarEventoPai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EventRelated__c</elementReference>
            </value>
        </filters>
        <object>EventRelated__c</object>
        <outputAssignments>
            <assignToReference>IdEventoRelacionadoPai</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObterEventoFilho</name>
        <label>Obter Evento Relacionado Filho</label>
        <locationX>1227</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EventoRelacionadoPai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRegistroClonado</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>IdEventoRelacionadoFilho</assignToReference>
            <field>EventRelated__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>ObterEventoRelacionadoPai</name>
        <label>Obter Evento Relacionado Pai</label>
        <locationX>750</locationX>
        <locationY>580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExclusaoCompromissoEventoFilho</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EventRelated__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EventRelated__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterEventoRelacionadoPai_0</name>
        <label>Obter Evento Relacionado Pai</label>
        <locationX>470</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExclusaoCompromissoEventoFilho_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EventRelated__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EventRelated__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarEventoPai</name>
        <label>Atualizar Evento Relacionado do Pai</label>
        <locationX>1238</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>AtualizarEventoRelacionadoFilho</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdEventoRelacionadoPai</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChildEvent__c</field>
            <value>
                <elementReference>IdEventoRelacionadoFilho</elementReference>
            </value>
        </inputAssignments>
        <object>EventRelated__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarEventoRelacionadoFilho</name>
        <label>Atualizar Evento Relacionado Filho</label>
        <locationX>1210</locationX>
        <locationY>912</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdEventoRelacionadoFilho</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentEvent__c</field>
            <value>
                <elementReference>IdEventoRelacionadoPai</elementReference>
            </value>
        </inputAssignments>
        <object>EventRelated__c</object>
    </recordUpdates>
    <start>
        <locationX>64</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>TemUsuarioRelacionado</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EventoClonado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>IdEventoRelacionadoFilho</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdEventoRelacionadoPai</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdRegistroClonado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelated__c</objectType>
    </variables>
</Flow>
