force-app/main/default/flows/Excluir_pedidos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Excluir_pedidos</name>
        <label>Excluir pedidos</label>
        <locationX>756</locationX>
        <locationY>277</locationY>
        <actionName>DeleteOrderWithoutSharing</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Pedidos_com_status_em_digita_o_e_retorna_RTV</name>
        <label>Pedidos com status em digitação e retorna RTV</label>
        <locationX>490</locationX>
        <locationY>274</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Em_Digitacao</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obter_pedidos.StatusSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em digitação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Excluir_pedidos</targetReference>
            </connector>
            <label>Em digitação</label>
        </rules>
        <rules>
            <name>Retorna_RTV_com_erro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_pedidos.StatusSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retorna RTV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_pedidos.ContainIntegrationError__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Excluir_pedidos</targetReference>
            </connector>
            <label>Retorna RTV com erro</label>
        </rules>
        <rules>
            <name>Aprovado_e_com_erro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_pedidos.StatusSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_pedidos.ContainIntegrationError__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Excluir_pedidos</targetReference>
            </connector>
            <label>Aprovado e com erro</label>
        </rules>
        <rules>
            <name>Demais_status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obter_pedidos.StatusSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em aprovação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_pedidos.StatusSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_pedidos.StatusSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_pedidos.StatusSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_pedidos.StatusSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em aprovação grãos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pedido_n_o_pode_ser_exclu_do</targetReference>
            </connector>
            <label>Demais status</label>
        </rules>
        <rules>
            <name>Aprovado_na_mesa_de_gr_os</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_pedidos.StatusSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retorna RTV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_pedidos.TradeSlipCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aprovado_mesa_de_gr_os</targetReference>
            </connector>
            <label>Aprovado na mesa de grãos</label>
        </rules>
        <rules>
            <name>Retorna_RTV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_pedidos.StatusSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retorna RTV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_pedidos.TradeSlipCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Excluir_pedidos</targetReference>
            </connector>
            <label>Retorna RTV</label>
        </rules>
    </decisions>
    <interviewLabel>Excluir pedidos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Excluir pedidos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obter_pedidos</name>
        <label>Obter pedidos</label>
        <locationX>176</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pedidos_com_status_em_digita_o_e_retorna_RTV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Aprovado_mesa_de_gr_os</name>
        <label>Aprovado mesa de grãos</label>
        <locationX>497</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GrainsTableApproved</name>
            <fieldText>&lt;p&gt;O pedido {!Obter_pedidos.OrderNumber} foi aprovado na mesa de grãos e não pode ser excluído.&lt;/p&gt;&lt;p&gt;TradeSlip: {!Obter_pedidos.TradeSlipCode__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pedido_n_o_pode_ser_exclu_do</name>
        <label>Pedido não pode ser excluído</label>
        <locationX>497</locationX>
        <locationY>488</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExclusaoNaoPermitida</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;O pedido {!Obter_pedidos.OrderNumber} possui o status {!Obter_pedidos.StatusSF__c}, portanto não pode ser excluído.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>Obter_pedidos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
