force-app/main/default/flows/FluxoCancelamentoPedido.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>MotivoCancelamentoADMVendasPreenchido</name>
        <label>Motivo de Cancelamento ADM Vendas Preenchido</label>
        <locationX>888</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>ErroMotivoCancelamentoVazio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Motivo de Cancelamento ADM de Vendas Vazio</defaultConnectorLabel>
        <rules>
            <name>MotivoCancelamentoPreenchidoADMVendas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MotivoCancelamentoPedidoADMVendas</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreencheCampoComMotivoCancelamentoADMVendasStatusCancelado</targetReference>
            </connector>
            <label>Motivo de Cancelamento Preenchido ADM de Vendas</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusRetornaRTV</name>
        <label>Verifica Status = &quot;Retorna RTV&quot;</label>
        <locationX>541</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>ErroCancelamentoStatusSFDiferenteRetornaRTV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não está como Retorna RTV</defaultConnectorLabel>
        <rules>
            <name>StatusComoRetornaRTV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrder.StatusSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retorna RTV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreencherMotivoCancelamentoPedidoRTV</targetReference>
            </connector>
            <label>Status = &quot;Retorna RTV&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaPerfil</name>
        <label>Verifica o Perfil</label>
        <locationX>538</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>TelaNaoPodeOutroPerfilAlemRTVAdmVendas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>OwnerRTV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrder.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GuardaRTV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificaTipoRTV</targetReference>
            </connector>
            <label>Owner/RTV</label>
        </rules>
        <rules>
            <name>OwnerAdmVendas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrder.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrador de Vendas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreencherMotivoCancelamentoPedidoADMVendas</targetReference>
            </connector>
            <label>Owner/AdmVendas</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaStatusEmDigitacao</name>
        <label>Verifica se status está como &quot;Em digitação&quot;</label>
        <locationX>304</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>ErroBarterType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não está como em Digitação</defaultConnectorLabel>
        <rules>
            <name>EstaComoEmDigitacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrder.StatusSF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em digitação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreencherMotivoCancelamentoPedidoRTV</targetReference>
            </connector>
            <label>Está como &quot;Em Digitação&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaTipoRTV</name>
        <label>Verifica Tipo Registro do RTV</label>
        <locationX>539</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>StatusRetornaRTV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não é Barter</defaultConnectorLabel>
        <rules>
            <name>Barter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrder.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BarterSale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificaStatusEmDigitacao</targetReference>
            </connector>
            <label>Barter</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TipoRegistroBarter</name>
        <dataType>String</dataType>
        <displayField>DeveloperName</displayField>
        <object>RecordType</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Fluxo para cancelamento de pedido {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fluxo para cancelamento de pedido</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getOrder</name>
        <label>getOrder</label>
        <locationX>355</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaPerfil</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>PreencheCampoComMotivoCancelamentoADMVendasStatusCancelado</name>
        <label>Preenche o Campo com o Motivo de Cancelamento ADM Vendas e Status como Cancelado</label>
        <locationX>911</locationX>
        <locationY>438</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CancellationReason__c</field>
            <value>
                <elementReference>MotivoCancelamentoPedidoADMVendas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusSF__c</field>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>PreencherCampoComMotivoCancelamentoStatusCancelado</name>
        <label>Preencher o Campo com o Motivo de Cancelamento</label>
        <locationX>552</locationX>
        <locationY>1094</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CancellationReason__c</field>
            <value>
                <elementReference>MotivoDoCancelamentoPedido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusSF__c</field>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <description>Erro que aparece quando o tipo de registro é barter.</description>
        <name>ErroBarterType</name>
        <label>Erro Tipo Barter</label>
        <locationX>50</locationX>
        <locationY>424</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Erro</name>
            <fieldText>&lt;p&gt;Tipo Barter não pode ser cancelado para Owner/RTV.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErroCancelamentoStatusSFDiferenteRetornaRTV</name>
        <label>Erro Cancelamento StatusSF != Retorna RTV</label>
        <locationX>778</locationX>
        <locationY>659</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErroDiferenteRetornaRTV</name>
            <fieldText>&lt;p&gt;Não foi possível cancelar o pedido, pois o status SF é diferente de &quot;Retorna RTV&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErroMotivoCancelamentoVazio</name>
        <label>Erro Motivo de Cancelamento Vazio</label>
        <locationX>1159</locationX>
        <locationY>208</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MotivoCancelamentoVazio</name>
            <fieldText>&lt;p&gt;ERRO: O Motivo de Cancelamento não pode ser vazio!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PreencherMotivoCancelamentoPedidoADMVendas</name>
        <label>Preencher Motivo do Cancelamento do Pedido ADM de Vendas</label>
        <locationX>715</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MotivoCancelamentoADMVendasPreenchido</targetReference>
        </connector>
        <fields>
            <name>MotivoCancelamentoPedidoADMVendas</name>
            <dataType>String</dataType>
            <fieldText>Motivo do Cancelamento do Pedido ADM Vendas</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PreencherMotivoCancelamentoPedidoRTV</name>
        <label>Preencher Motivo do Cancelamento do Pedido RTV</label>
        <locationX>548</locationX>
        <locationY>906</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PreencherCampoComMotivoCancelamentoStatusCancelado</targetReference>
        </connector>
        <fields>
            <name>MotivoDoCancelamentoPedido</name>
            <dataType>String</dataType>
            <fieldText>Motivo do Cancelamento do Pedido</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaNaoPodeOutroPerfilAlemRTVAdmVendas</name>
        <label>Tela de erro de perfil</label>
        <locationX>639</locationX>
        <locationY>28</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NaoPodeOutroPerfilAlemRTVAdmVendas</name>
            <fieldText>&lt;p&gt;Usuário não pode cancelar o pedido se não for um dos seguintes tipos:&lt;/p&gt;&lt;p&gt;-RTV&lt;/p&gt;&lt;p&gt;-Adm. de Vendas.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>229</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GuardaRTV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RTV</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
