force-app/main/default/flows/FluxoAlterarParecer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ValidaParecer</name>
        <label>Valida Parecer</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Validavisita__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ParecerPreenchido</name>
        <label>Parecer preenchido?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TemParecerPreenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VisitOpinion__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.VisitOpinion__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidaParecer</targetReference>
            </connector>
            <label>Parecer preenchido</label>
        </rules>
    </decisions>
    <description>Fluxo que impede alterar o parecer da visita caso já esteja preenchido</description>
    <interviewLabel>Fluxo para impedir alteração do parecer da visita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fluxo alteração do parecer da visita</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ParecerPreenchido</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
