force-app/main/default/flows/Order_ApprovalHistory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Type_of_Object</name>
        <label>Get Type of Object</label>
        <locationX>58</locationX>
        <locationY>342</locationY>
        <actionName>FlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_TargetObjectIdType</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listOrderId</name>
            <value>
                <elementReference>Loop_ProcessInstance.TargetObjectId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_OrderApprovalHistoryTemp</name>
        <label>Set OrderApprovalHistoryTemp</label>
        <locationX>1218</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>OrderApprovalHistoryTemp.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderApprovalHistoryTemp.ActorId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ProcessInstanceStep.ActorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderApprovalHistoryTemp.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ProcessInstanceStep.Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderApprovalHistoryTemp.ElapsedTimeInDays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ProcessInstanceStep.ElapsedTimeInDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderApprovalHistoryTemp.ElapsedTimeInHours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ProcessInstanceStep.ElapsedTimeInHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderApprovalHistoryTemp.ElapsedTimeInMinutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ProcessInstanceStep.ElapsedTimeInMinutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderApprovalHistoryTemp.OriginalActorId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ProcessInstanceStep.OriginalActorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderApprovalHistoryTemp.StepStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ProcessInstanceStep.StepStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderApprovalHistoryTemp.ProcessInstanceStepCreatedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ProcessInstanceStep.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderApprovalHistoryTemp.Pedido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ProcessInstance.TargetObjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderApprovalHistoryTemp.ProcessInstanceStepId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ProcessInstanceStep.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_OrderApprovalHistory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Record_Exists</name>
        <label>Check if Record Exists</label>
        <locationX>1003</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>Loop_ProcessInstanceStep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Check_id_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_OrderApprovalHistoryTemp</targetReference>
            </connector>
            <label>Not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_TargetObjectIdType</name>
        <label>Check TargetObject Type</label>
        <locationX>50</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>Loop_ProcessInstance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Check_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Type_of_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ProcessInstanceStep</targetReference>
            </connector>
            <label>if type = Order</label>
        </rules>
    </decisions>
    <formulas>
        <name>GetLastHour</name>
        <dataType>DateTime</dataType>
        <expression>now() - (1/24)</expression>
    </formulas>
    <interviewLabel>Order_ApprovalHistory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_ApprovalHistory</label>
    <loops>
        <name>Loop_ProcessInstance</name>
        <label>Loop ProcessInstance</label>
        <locationX>285</locationX>
        <locationY>438</locationY>
        <collectionReference>Get_ProcessInstance</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Type_of_Object</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_ProcessInstanceStep</name>
        <label>Loop ProcessInstanceStep</label>
        <locationX>603</locationX>
        <locationY>570</locationY>
        <collectionReference>Get_ProcessInstanceStep</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_ProcessInstance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_OrderApprovalHistory</name>
        <label>Insert OrderApprovalHistory</label>
        <locationX>1376</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_ProcessInstanceStep</targetReference>
        </connector>
        <inputReference>OrderApprovalHistoryTemp</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get</name>
        <label>Get OrderApprovalHistory</label>
        <locationX>824</locationX>
        <locationY>668</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceStepId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_ProcessInstanceStep.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApprovalHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ProcessInstance</name>
        <label>Get ProcessInstance</label>
        <locationX>285</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ProcessInstance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>GetLastHour</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ProcessInstanceStep</name>
        <label>Get ProcessInstanceStep</label>
        <locationX>415</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ProcessInstanceStep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_ProcessInstance.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>159</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Get_ProcessInstance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderApprovalHistoryTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApprovalHistory__c</objectType>
    </variables>
</Flow>
