force-app/main/default/flows/Parecer_da_visita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AbrirRegistroClonado</name>
        <label>Abrir Registro Clonado</label>
        <locationX>147</locationX>
        <locationY>666</locationY>
        <actionName>c:openRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CompromissoClonado.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>criar_ocorrencia</name>
        <label>criar ocorrencia</label>
        <locationX>1406</locationX>
        <locationY>572</locationY>
        <actionName>c:createEventCaseRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Obter_visita.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Retornar_a_visita</name>
        <label>Retornar a visita</label>
        <locationX>1007</locationX>
        <locationY>206</locationY>
        <actionName>c:openRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>clonandoCampos</name>
        <label>Clonando Campos</label>
        <locationX>469</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>CompromissoClonado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_visita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromissoClonado.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromissoClonado.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>novaDataDaVisita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromissoClonado.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>obterDataFim</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromissoClonado.DurationInMinutes</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromissoClonado.ActivityDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>novaDataDaVisita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromissoClonado.VisitOpinion__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromissoClonado.EventType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_visita.EventType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromissoClonado.CheckinDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromissoClonado.CheckInDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromissoClonado.Checkin__Longitude__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromissoClonado.Checkin__Latitude__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromissoClonado.GeolocationPermission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clonar_visita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Preencher_parecer_da_visita</name>
        <label>Preencher parecer da visita</label>
        <locationX>1320</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>Obter_visita.VisitOpinion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>informacoesDaVisita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerificaOcorrencia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quantificar_anexos</name>
        <label>Quantificar anexos</label>
        <locationX>306</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>quantidadeAnexos</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obter_anexos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quantidadeMinimaDeImagens</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_visita.EventType__r.MandatoryImagesQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inicio_do_fluxo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reagendamento_da_visita</name>
        <label>Reagendamento da visita</label>
        <locationX>788</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>Obter_visita.VisitOpinion__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Reagendamentodevisita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>diferencaData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DuracaoVisita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_existente</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>criarCompromisso</name>
        <choiceText>Sim</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>naoCriarCompromisso</name>
        <choiceText>Não</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>opcaoNao</name>
        <choiceText>Não</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>opcaoSim</name>
        <choiceText>Sim</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Inicio_do_fluxo</name>
        <label>Inicio do fluxo</label>
        <locationX>491</locationX>
        <locationY>316</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Owner_e_RTV</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obter_visita.RelatedUser__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_visita.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_visita.WhatId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visita_realizada_ou_n_o</targetReference>
            </connector>
            <label>Owner e RTV</label>
        </rules>
        <rules>
            <name>Demais_usu_rios</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obter_visita.RelatedUser__r.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Username</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_visita.Owner:User.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Owner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro</targetReference>
            </connector>
            <label>Demais usuários</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_da_visita</name>
        <label>Status da visita</label>
        <locationX>782</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Reagendamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opcaoNao</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reagendamento_da_visita</targetReference>
            </connector>
            <label>Reagendamento</label>
        </rules>
        <rules>
            <name>Visita_realizada</name>
            <conditionLogic>(1 AND 2) OR 2</conditionLogic>
            <conditions>
                <leftValueReference>opcaoSim</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quantidadeAnexos</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>quantidadeMinimaDeImagens</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_parecer_da_visita</targetReference>
            </connector>
            <label>Visita realizada</label>
        </rules>
        <rules>
            <name>Sem_reagendamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nao</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retornar_a_visita</targetReference>
            </connector>
            <label>Sem reagendamento</label>
        </rules>
        <rules>
            <name>Criar_compromisso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>criarCompromisso</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaParecerVisita2</targetReference>
            </connector>
            <label>Criar compromisso</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaOcorrencia</name>
        <label>Verifica Ocorrencia</label>
        <locationX>1930</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>Retornar_a_visita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CriarOcorrenciaCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>criarCompromisso</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>criar_ocorrencia</targetReference>
            </connector>
            <label>Criar Ocorrencia</label>
        </rules>
    </decisions>
    <formulas>
        <name>DuracaoVisita</name>
        <dataType>Number</dataType>
        <expression>{!Obter_visita.EndDateTime} - {!Obter_visita.StartDateTime}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>obterDataFim</name>
        <dataType>DateTime</dataType>
        <expression>{!novaDataDaVisita} + {!diferencaData}</expression>
    </formulas>
    <interviewLabel>Parecer da visita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parecer da visita</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clonar_visita</name>
        <label>Clonar visita</label>
        <locationX>306</locationX>
        <locationY>666</locationY>
        <connector>
            <targetReference>AbrirRegistroClonado</targetReference>
        </connector>
        <inputReference>CompromissoClonado</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obter_anexos</name>
        <label>Obter anexos</label>
        <locationX>172</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quantificar_anexos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_visita.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_visita</name>
        <label>Obter visita</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_anexos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atribuir_parecer_da_visita</name>
        <label>Atribuir parecer da visita</label>
        <locationX>1327</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Preencher_parecer_da_visita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VisitOpinion__c</field>
            <value>
                <elementReference>ParecerDaVisita</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaParecerVisita2</name>
        <label>AtualizaParecerVisita2</label>
        <locationX>1176</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>criar_ocorrencia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VisitOpinion__c</field>
            <value>
                <elementReference>ParecerDaVisita</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_existente</name>
        <label>Atualizar existente</label>
        <locationX>627</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>clonandoCampos</targetReference>
        </connector>
        <inputReference>Obter_visita</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Erro</name>
        <label>Erro</label>
        <locationX>499</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Acesso negado! Parecer da visita deve ser informado pelo usuário atribuído ao evento.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>qteAnexosErro</name>
        <label>qteAnexosErro</label>
        <locationX>826</locationX>
        <locationY>178</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>mensagemErro</name>
            <fieldText>&lt;p&gt;{!$Label.Parecer_da_visita}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Quantidade mínima de imagens: {!Obter_visita.EventType__r.MandatoryImagesQuantity__c}&lt;/p&gt;&lt;p&gt;Quantidade de imagens anexadas: {!quantidadeAnexos}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Visita_realizada_ou_n_o</name>
        <label>Visita realizada ou não</label>
        <locationX>789</locationX>
        <locationY>316</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Status_da_visita</targetReference>
        </connector>
        <fields>
            <name>Visita_realizada_ou_n_o_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Visita_realizada_ou_n_o_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>A_visita_foi_realizada</name>
                    <choiceReferences>opcaoSim</choiceReferences>
                    <choiceReferences>opcaoNao</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>A visita foi realizada?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>quantidadeAnexos</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>quantidadeAnexos</leftValueReference>
                            <operator>LessThan</operator>
                            <rightValue>
                                <elementReference>quantidadeMinimaDeImagens</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>qteDeImagens</name>
            <fieldText>&lt;p&gt;{!$Label.Parecer_da_visita}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Quantidade mínima de imagens: {!Obter_visita.EventType__r.MandatoryImagesQuantity__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Quantidade de imagens anexadas: {!quantidadeAnexos}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>quantidadeAnexos</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>quantidadeMinimaDeImagens</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>opcaoSim</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ParecerDaVisita</name>
            <dataType>String</dataType>
            <fieldText>Parecer da Visita</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 AND 2 ) OR 2</conditionLogic>
                <conditions>
                    <leftValueReference>opcaoSim</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>quantidadeAnexos</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>quantidadeMinimaDeImagens</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Deseja_reagendar_a_visita</name>
            <choiceReferences>Sim</choiceReferences>
            <choiceReferences>Nao</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Deseja reagendar a visita?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>opcaoNao</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>criarOcorrencia</name>
            <choiceReferences>criarCompromisso</choiceReferences>
            <choiceReferences>naoCriarCompromisso</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Deseja criar uma ocorrência para esta visita?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>quantidadeAnexos</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>quantidadeMinimaDeImagens</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Obter_visita.Case__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Visita_realizada_ou_n_o_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Visita_realizada_ou_n_o_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>novaDataDaVisita</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Data do reagendamento</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sim</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>161</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>Obter_visita</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>informacoesDaVisita</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!ParecerDaVisita}</text>
    </textTemplates>
    <textTemplates>
        <name>Reagendamentodevisita</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Visita reagendada para: {!novaDataDaVisita}</text>
    </textTemplates>
    <variables>
        <name>CompromissoClonado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>diferencaData</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>novaData</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Obter_visita.Owner:User.Username</elementReference>
        </value>
    </variables>
    <variables>
        <name>quantidadeAnexos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>quantidadeMinimaDeImagens</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
