force-app/main/default/flows/ValidaDuplicata.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AcionadorRegra</name>
        <label>Acionador da Regra</label>
        <locationX>810</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>$Record.RegistroDuplicado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>verifica se há duplicidade de dados.</description>
        <name>ExisteRegistrosDuplicados</name>
        <label>Existe Registros Duplicados?</label>
        <locationX>639</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DadosPreenchidos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcionadorRegra</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Valida se os dados de margem projeta já foram criados e estão em duplicidade.</description>
    <interviewLabel>Valida Duplicata {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Valida Duplicata</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DadosPreenchidos</name>
        <label>DadosPreenchidos</label>
        <locationX>488</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteRegistrosDuplicados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Family__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Crop__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Crop__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrg__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProjectedMargin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>48</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>DadosPreenchidos</targetReference>
        </connector>
        <object>ProjectedMargin__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
